{% extends 'eae_base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- CONTENT-STARTS -->
    <section class="hero-large size-large color-green alignment-center">
        <div class="content">
            <svg class="bg-flair-1 desktop-only" width="1154" height="540"
                 viewBox="0 0 1154 540" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M1154 0L963.688 464.874C944.402 511.985 897.489 541.801 846.646 539.26L274.153 510.655C235.583 508.728 201.57 484.764 186.774 449.093L0.5 0H1154Z"
                      fill="#578C43"></path>
            </svg>
            <div class="text-content readability-normalize">
                <svg class="bg-flair-2 mobile-only" viewBox="0 0 377 61"
                     fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.00488281H377V6.00006L96.4894 59.0697C74.8002 63.1731 52.3794 58.1323 34.5336 45.1406L0 20.0001V0.00488281Z"
                          fill="#578C43"></path>
                </svg>
                <h1 class="h2"><strong style="color: white !important;">About</strong></h1>
                <p class="the-excerpt">
                    "Many countries are at a critical juncture in determining what a sustainable, equitable, and appropriate energy transition looks like.
                    Nepal’s commitment to clean cooking makes it a natural starting point for this kind of data-driven planning, but we anticipate that variations of the CCE could be useful
                    to many other governments and private sector players as they consider countries’ unique energy needs.” - Donee Alexander, Chief Science and Learning Officer
                </p>
            </div>
        </div>
        <div class="bg-image lazy on-load lazy-ready"
             data-img-src="{% static "img/about_bg.png" %}"
             style="background-image: url({% static "img/about_bg.png" %});">
        </div>
    </section>
{#    <section class="banner"#}
{#             style="background-image: url({% static "img/about_bg.png" %});">#}
{#        <h1>About</h1>#}
{#    </section>#}

    <section class="flexible archive-body">
        <svg class="flair-left" width="251" height="865" viewBox="0 0 251 865" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.08" d="M-107 0.000305176V864.896L220.767 567.073C255.291 535.704 260.125 483.155 231.903 446.013L-107 0.000305176Z" fill="#578C43"></path>
        </svg>
        <svg class="flair-right" width="131" height="459" viewBox="0 0 131 459" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M227 458.762V0L48.6742 180.587C21.7104 207.893 21.758 251.817 48.7809 279.064L227 458.762Z" fill="#0280BF" fill-opacity="0.08"></path>
        </svg>
        <div class="section-title align-left">
            <div class="content">
                <h2 class="h4">
                    <strong>A Clean Cooking Platform for Nepal</strong>
                </h2>
            </div>
        </div>
        <p>
            Once development is completed in 2022, the CCE will improve data-driven planning, coordination, and implementation for national-scale clean cooking transitions.
            The CCE will launch with data for Nepal, where CCA, WRI, and a wide range of partners have been engaged with the Alternative Energy Promotion Center (AEPC), the lead government agency promoting clean cooking in Nepal.
            AEPC is ensuring that the CCE meets the priorities of the Government of Nepal (GoN), providing development support (including assistance with data access and support coordination with key stakeholders) and facilitating with testing and disseminating the CCE among users.
        </p>

        <p>
            ”The Government of Nepal is deeply committed to achieving universal access to clean cooking by 2030,” said Madhusudhan Adhikari, Executive Director of AEPC.
            “Thanks to tools like the Clean Cooking Explorer, there will be an evidence-based path to accelerating a national transition to clean cooking in Nepal.
            We are looking forward to working with the team to ensure the CCE is relevant and effective for our clean cooking sector.“
        </p>

        <p>
            As requested by the GoN, CCA is also developing a Country Action Plan for Transforming the Cookstoves and Fuels Market in Nepal. The CCE will be an important tool in implementing this plan.
        </p>
        <figure class="gallery-item">
            <div class="gallery-icon landscape">
				<a href="https://www.cleancookingalliance.org/" class="custom-link no-lightbox" title="Clean Cooking Alliance" aria-label="" onclick="event.stopPropagation()" target="_blank" rel="">
                    <img width="300" src="{% static "img/cca.png" %}"
                         class="attachment-medium size-medium" alt="" loading="lazy"
                         srcset="{% static "img/cca.png" %} 300w" sizes="(max-width: 300px) 100vw, 300px"></a>
			</div>
            <div>
                <h3 class="h4 organization">
                    <a href="https://cleancookingalliance.org/"><strong>Clean Cooking Alliance</strong></a>
                </h3>
                <p>
                    The Clean Cooking Alliance (CCA) works with a global network of partners to build an inclusive industry that can make clean cooking accessible to all.
                    Established in 2010, CCA is driving consumer demand, mobilizing investment, and supporting policies that allow the clean cooking sector to thrive.
                    CCA, in collaboration with the World Resources Institute (WRI) is leading the development of the CCE by leveraging its sector expertise and providing thought leadership.
                </p>
            </div>
             <div class="team-container">
                <div class="col-lg-3 col-md-2 team-member">
                    <figure class="gallery-item-small headshot">
                        <img width="150"
                             src="{% static "img/headshots/Anobha Gurung.jpg" %}"
                             class="attachment-medium size-medium"
                             alt="" loading="lazy">
                    </figure>
                    <h3 class="h5 name">Anobha Gurung</h3>
                    <p class="team-desc">
                        Anobha Gurung is the Senior Project Manager, Nepal for the Clean Cooking Alliance (CCA).
                        She was a postdoctoral scholar at Integrated Mountain Development and holds a Ph.D. from Yale School of the Environment.
                    </p>
                </div>
                 <div class="col-lg-3 col-md-2 team-member">
                    <figure class="gallery-item-small headshot">
                        <img width="150"
                             src="{% static "img/headshots/AliciaOberholzer.jpg" %}"
                             class="attachment-medium size-medium"
                             alt="" loading="lazy">
                    </figure>
                    <h3 class="h5 name">Alicia Oberholzer</h3>
                    <p class="team-desc">
                        Alicia Oberholzer is the Senior Associate of Research at the Clean Cooking Alliance.
                        She holds a B.S. in Molecular Biology from Stetson University and a MEM in Business and Environment from Duke University.
                    </p>
                </div>
             </div>


        </figure>
        <br/>
        <figure class="gallery-item">
            <div class="gallery-icon landscape">
				<a href="https://www.wri.org/" class="custom-link no-lightbox" title="World Resources Insitute" aria-label="" onclick="event.stopPropagation()" target="_blank" rel="">
                    <img width="250" src="https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/logos/wri.png"
                         class="attachment-medium size-medium" alt="" loading="lazy"
                         srcset="https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/logos/wri.png 250w" sizes="(max-width: 250px) 100vw, 250px"></a>
			</div>
            <div>
                <h3 class="h4 organization">
                    <a href="https://www.wri.org/"><strong>World Resources Institute</strong></a>
                </h3>
                <p>
                    WRI is a global research organization that works with governments, businesses, multilateral institutions and civil society groups to develop practical solutions that improve people’s lives and protect nature.
                    <br/><br/>
                    “The Clean Cooking Explorer will leverage the power of Geographic Information System (GIS) data and technology combined with stakeholder engagement to provide data-driven insights towards the adoption of clean cooking solutions,” said Dimitrios Mentis, Senior Energy Geographer at WRI and EAE Project Lead.
                    “The CCE will also provide a valuable public good through up-to-date, open-source spatial data repository relevant for policymakers and other stakeholders.”
                    <br/><br/>
                    The CCE will leverage WRI’s experience in the development of the Energy Access Explorer (EAE), while building on CCA’s deep engagement in developing clean cooking markets in Nepal and around the world.
                </p>
            </div>
            <div class="team-container">
                <div class="col-lg-3 col-md-2 team-member">
                     <figure class="gallery-item-small headshot">
                        <img width="150"
                             src="{% static "img/headshots/dimitris_mentis.jpg" %}"
                             class="attachment-medium size-medium"
                             alt="" loading="lazy">
                    </figure>
                    <h3 class="h5 name">Dimitrios Mentis</h3>
                    <p class="team-desc">
                        Dimitris holds a PhD in Energy and Environmental Systems (KTH Royal Institute of Technology), an MSc in Sustainable Energy Engineering (KTH Royal Institute of Technology)
                        and a Diploma in Mechanical Engineering (National Technical University of Athens).
                    </p>
                </div>
                <div class="col-lg-3 col-md-2 team-member">
                    <figure class="gallery-item-small headshot">
                        <img width="150"
                             src="{% static "img/headshots/santiao-sinclair.jpg" %}"
                             class="attachment-medium size-medium"
                             alt="" loading="lazy">
                    </figure>
                    <h3 class="h5 name">Santiago Sinclair Lecaros</h3>
                    <p class="team-desc">
                        Expertise in GIS and energy planning. Advancing integrated geospatial energy planning and energy access efforts to facilitate sustainable socio-economic development.
                    </p>
                </div>
            </div>
        </figure>
        <br/>
        <figure class="gallery-item" style="justify-content: space-evenly; background: #57954417; max-width: 100%; flex-direction: column">
            <div>
                <h3 class="h4" style="font-size: 24px">
                    <strong>Implementing Partners</strong>
                </h3>
                <p>
                    The development of the CCE is being supported by the
                    consulting firm Kartoza,
                    the Energy Systems division of KTH Royal Institute of
                    Technology in Sweden (KTH-dES) and the Nepal Open
                    University who together with KTH and Kartoza will also
                    provide training for users.
                </p>
                <p>
                    Kartoza has previously developed several high-profile,
                    open-source geospatial projects, while KTH-dES has
                    developed leading integrated systems analysis frameworks,
                    open-source optimization energy models, innovative metrics
                    to compare cooking energy access solutions, and the
                    Open-Source Spatial Electrification Tool.
                </p>
                <p>
                    The CCE has a modular, easily adaptable design, so that in
                    the future, CCA and its partners may replicate similar
                    efforts elsewhere.
                </p>
            </div>

            <figure class="gallery-item gallery-item-child" style="justify-content: start;">
                <div class="gallery-icon landscape" style="width: auto; text-align: start">
                    <a href="https://www.energy.kth.se/department-of-energy-technology-1.891555" class="custom-link no-lightbox" title="KTH" aria-label="" onclick="event.stopPropagation()" target="_blank" rel="">
                        <img width="150" src="{% static "img/kth-240.png" %}"
                                     class="attachment-medium size-medium" alt="" loading="lazy"
                                     srcset="{% static "img/kth-240.png" %} 300w" sizes="(max-width: 150px) 100vw, 120px"></a>
                </div>
                <div>
                    <h3 class="h4 desktop-only partner-organization">
                        <a href="https://www.energy.kth.se/department-of-energy-technology-1.891555">KTH Royal Institute of Technology in Sweden (KTH-dES)</a>
                    </h3>
                </div>
                <div class="team-container">
                    <div class="col-lg-3 col-md-2 team-member">
                        <figure class="gallery-item-small headshot">
                            <img width="150"
                                 src="{% static "img/headshots/camilo.jpg" %}"
                                 class="attachment-medium size-medium"
                                 alt="" loading="lazy">
                        </figure>
                        <h3 class="h5 name">Camilo Ramirez Gomez</h3>
                        <p class="team-desc">
                            Camilo is a PhD-candidate at the Royal Institute of Technology KTH Sweden.
                            His research focuses on using and developing GIS-based methods to model interactions between energy systems and sustainability dimensions.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-2 team-member">
                        <figure class="gallery-item-small headshot">
                            <img width="150"
                                 src="{% static "img/headshots/francesco.jpg" %}"
                                 class="attachment-medium size-medium"
                                 alt="" loading="lazy">
                        </figure>
                        <h3 class="h5 name">Francesco Fuso Nerini</h3>
                        <p class="team-desc">
                            Francesco Fuso Nerini works as Associate Professor
                            at the KTH division of Energy Systems,
                            and is the Director of the KTH Climate Action
                            Centre at KTH Royal Institute of Technology in
                            Sweden.
                        </p>
                    </div>
                     <div class="col-lg-3 col-md-2 team-member">
                        <figure class="gallery-item-small headshot">
                            <img width="150"
                                 src="{% static "img/headshots/Babak Khavari.jpg" %}"
                                 class="attachment-medium size-medium"
                                 alt="" loading="lazy">
                        </figure>
                        <h3 class="h5 name">Babak Khavari</h3>
                        <p class="team-desc">
                            Babak is a PhD-candidate at KTH focusing on geospatial energy assessments, in particular as it relates to least-cost electricity assessments and clean cooking.
                            As part of KTH, he has been one of the developers behind OnSSTOVE and OnSSET.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-2 team-member">
                        <figure class="gallery-item-small headshot">
                            <img width="150"
                                 src="{% static "img/headshots/dilip-khatiwada.jpg" %}"
                                 class="attachment-medium size-medium"
                                 alt="" loading="lazy">
                        </figure>
                        <h3 class="h5 name">Dilip Khatiwada</h3>
                        <p class="team-desc">
                            Dilip Khatiwada works as Associate Professor at the Division of Energy Systems,
                            KTH Royal Institute of Technology. He has over 20 years of work experience in several private,
                            public, and development agencies. His expertise includes renewable energy, sustainability assessment,
                            energy and climate policies. Dilip holds a PhD and Docent (reader) in Energy Technology.
                        </p>
                    </div>
                </div>
            </figure>
            <br/>
            <figure class="gallery-item gallery-item-child" style="justify-content: start">
                <div class="gallery-icon landscape" style="width: auto; text-align: start">
                    <a href="https://kartoza.com/" class="custom-link no-lightbox" title="Kartoza" aria-label="" onclick="event.stopPropagation()" target="_blank" rel="">
                        <img width="150" src="{% static "img/kartoza-logo.png" %}"
                             class="attachment-medium size-medium" alt="" loading="lazy"
                             srcset="{% static "img/kartoza-logo.png" %} 300w" sizes="(max-width: 150px) 100vw, 120px"></a>
                </div>
                <div>
                    <h3 class="h4 desktop-only partner-organization">
                        <a href="https://kartoza.com/">Kartoza (Pty) Ltd</a>
                    </h3>
                </div>
                <div class="team-container">
                    <div class="col-lg-3 col-md-2 team-member">
                        <figure class="gallery-item-small headshot">
                            <img width="150"
                                 src="{% static "img/headshots/timsutton.jpg" %}"
                                 class="attachment-medium size-medium"
                                 alt="" loading="lazy">
                        </figure>
                        <h3 class="h5 name">Tim Sutton</h3>
                        <p class="team-desc">
                            Tim is co-founder of Kartoza.com and a veteran GIS developer and practitioner.
                            He is part of the QGIS Project Steering Committee and contributor to many open source GIS projects.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-2 team-member">
                        <figure class="gallery-item-small headshot">
                            <img width="150"
                                 src="{% static "img/headshots/lindsay_walker.jpg" %}"
                                 class="attachment-medium size-medium"
                                 alt="" loading="lazy">
                        </figure>
                        <h3 class="h5 name">Lindsay Walker</h3>
                        <p class="team-desc">
                            As a Technical Manager at Kartoza, Lindsay brings advanced technical experience with proprietary GIS software, making her an excellent bridge between it and open source GIS technologies.
                        </p>
                    </div>
                     <div class="col-lg-3 col-md-2 team-member">
                        <figure class="gallery-item-small headshot">
                            <img width="150"
                                 src="{% static "img/headshots/dimasciputra.jpg" %}"
                                 class="attachment-medium size-medium"
                                 alt="" loading="lazy">
                        </figure>
                        <h3 class="h5 name">Dimas Tri Ciputra</h3>
                        <p class="team-desc">
                            Dimas is a Software Developer from Indonesia. He has been an active contributor to various Open Source projects since 2015.
                        </p>
                    </div>
                </div>
            </figure>
            <br/>
            <figure class="gallery-item gallery-item-child" style="justify-content: start">
                <div class="gallery-icon landscape" style="width: auto; text-align: start">
                    <a href="https://nou.edu.np/" class="custom-link no-lightbox" title="NOU - Nepal University" aria-label="" onclick="event.stopPropagation()" target="_blank" rel="">
                        <img width="150" src={% static "img/nou.png" %}"
                             class="attachment-medium size-medium" alt="" loading="lazy"
                             srcset="{% static "img/nou.png" %} 300w" sizes="(max-width: 250px) 100vw, 150px"></a>
                </div>
                <div>
                    <h3 class="h4 desktop-only partner-organization">
                        <a href="https://nou.edu.np/">Nepal Open University</a>
                    </h3>
                    <p style="padding-left: 1.5em">
                        NOU is the local implementation partner for the CCE.
                        They will provide on-the-ground capacity building opportunities for users.
                        In addition, they will provide ongoing technical support and help ensure platform sustainability.
                    </p>
                </div>
                <div class="team-container">
                    <div class="col-lg-3 col-md-2 team-member">
                        <figure class="gallery-item-small headshot">
                            <img width="150"
                                 src="{% static "img/headshots/Bhogendra Mishra.jpg" %}"
                                 class="attachment-medium size-medium"
                                 alt="" loading="lazy">
                        </figure>
                        <h3 class="h5 name">Bhogendra Mishra</h3>
                        <p class="team-desc">
                            Bhogendra Mishra, Doctorate in Engineering, is a spatial data scientist, have almost a decade long professional experience in spatial data collection, curation,
                            and management along with research and analysis of geospatial datasets
                            for several applications.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-2 team-member">
                        <figure class="gallery-item-small headshot">
                            <img width="150"
                                 src="{% static "img/headshots/bhoj.png" %}"
                                 class="attachment-medium size-medium"
                                 alt="" loading="lazy">
                        </figure>
                        <h3 class="h5 name">Dr. Bhoj Raj Ghimire</h3>
                        <p class="team-desc">
                            Dr. Ghimire is an Asst. Prof. at NOU (https://nou.edu.np/).
                            He blends cutting-edge technologies with local knowledge and contextual business process to provide a sustainable digital solutions.
                        </p>
                    </div>
                </div>
            </figure>
            <br/>
        </figure>
    </section>
{% endblock %}
