{% extends 'eae_base.html' %}
{% load staticfiles %}

{% block content %}
    <!-- CONTENT-STARTS -->
    <section class="banner"
             style="background-image: url(https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/photos/51bee9f9903c0a2f51bea0e9415c88ad.jpg);">
        <h1>About</h1>
    </section>

    <section>
        <p>
            This web site is under development.
        </p>

        <p>
            The Clean Cooking Alliance (CCA), in partnership with the World Resources Institute (WRI), is building an online, open-source, and interactive geospatial data platform, the first of its kind focused on clean cooking.
            Called the Clean Cooking Explorer (CCE), this integrated energy planning platform aims to provide stakeholders across public and private sectors with the data and tools needed to inform their strategies for a robust clean cooking transition, especially those related to electric cooking.
        </p>

        <p>
            The CCE will leverage WRI’s experience in the development of the Energy Access Explorer (EAE), while building on CCA’s deep engagement in developing clean cooking markets in Nepal and around the world.
        </p>

        <p>
            The Clean Cooking Explorer will enable users to visualize, interpret, and analyze geospatial datasets, such as location-specific data on demographics, access to cooking fuels, supply infrastructure and more.
            The tool will empower users to leverage optimal technology mixes for specific regions based on existing and potential demand and supply trends.
        </p>

        <p>
            “The Clean Cooking Explorer will leverage the power of Geographic Information System (GIS) data and technology combined with stakeholder engagement to provide data-driven insights towards the adoption of clean cooking solutions,” said Dimitrios Mentis, Senior Energy Geographer at WRI and EAE Project Lead.
            “The CCE will also provide a valuable public good through up-to-date, open-source spatial data repository relevant for policymakers and other stakeholders.”
        </p>

        <p>
            Once development is completed in 2021, the CCE will improve data-driven planning, coordination, and implementation for a large-scale transition to cleaner cooking solutions. The CCE will launch with data for Nepal, where CCA, WRI, and a wide range of partners have been engaged with the Alternative Energy Promotion Center (AEPC), the lead government agency promoting clean cooking in Nepal.
            AEPC will ensure that the CCE meets the priorities of the Government of Nepal (GoN), providing development support (including assistance with data access and support coordination with key stakeholders) and facilitating with testing and disseminating the CCE among users.
        </p>

        <p>
            “The Government of Nepal is deeply committed to achieving universal access to clean cooking by 2030,” said Madhusudhan Adhikari, Executive Director of AEPC.
            “Thanks to tools like the Clean Cooking Explorer, there will be an evidence-based path to accelerating a national transition to clean cooking in Nepal.
            We are looking forward to working with the team to ensure the CCE is relevant and effective for our clean cooking sector.”
        </p>

        <p>
            As requested by the GoN, CCA is also developing a Country Action Plan for Transforming the Cookstoves and Fuels Market in Nepal.
            The CCE will be an important tool in implementing this plan.
        </p>

        <p>
            The CCE has a modular, easily adaptable design, so that in the future, CCA and its partners may replicate similar efforts elsewhere.
        </p>

        <p>
            “Many countries are at a critical juncture in determining what a sustainable, equitable, and appropriate energy transition looks like,” said Donee Alexander,
            Senior Director of Evidence and Impact at CCA. “Nepal’s commitment to clean cooking makes it a natural starting point for this kind of data-driven planning, but we anticipate that variations of the CCE could be useful to many other governments and private sector players as they consider countries’ unique energy needs.”
        </p>

        <p>
            The development of the CCE will be supported by the consulting firm Kartoza, the Energy Systems division of KTH Royal Institute of Technology in Sweden (KTH-dES)
            and the Nepal Open Univsersity who together with KTH and Kartoza will also provide training for users.
        </p>

        <p>
            Kartoza has previously developed several high-profile, open-source geospatial projects, while KTH-dES has developed leading integrated systems analysis frameworks, open-source optimization energy models,
            innovative metrics to compare cooking energy access solutions, and the Open-Source Spatial Electrification Tool.
        </p>
    </section>

    <section id="partners">
        <div id="partners-title">Partners</div>

        <div id="partners-container">
            <div class="logo">
                <a title="Clean Cooking Alliance"
                   href="https://www.cleancookingalliance.org/"
                   target="_blank">
                    <img src="{% static "img/cca.png" %}">
                </a>
            </div>

            <div class="logo">
                <a title="World Resources Insitute"
                   href="https://www.wri.org/"
                   target="_blank">
                    <img src="https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/logos/wri.png">
                </a>
            </div>

            <div class="logo">
                <a title="KTH"
                   href="https://www.energy.kth.se/department-of-energy-technology-1.891555"
                   target="_blank">
                    <img src="{% static "img/kth.png" %}">
                </a>
            </div>

            <div class="logo">
                <a title="Kartoza"
                   href="https://kartoza.com/"
                   target="_blank">
                    <img src="{% static "img/kartoza-logo.png" %}">
                </a>
            </div>

            <div class="logo">
                <a title="NOU - Nepal University"
                   href="https://nou.edu.np/"
                   target="_blank">
                    <img src="{% static "img/nou.png" %}">
                </a>
            </div>
        </div>
    </section>
{% endblock %}
