{% extends 'eae_base.html' %}
{% load staticfiles %}

{% block content %}

    <main>
        <!-- CONTENT-STARTS -->
        <link href="{% static "eae/stylesheets/index.css" %}"
              rel="stylesheet"/>
        <link href="{% static "eae/stylesheets/thumbnails.css" %}"
              rel="stylesheet"/>
        <link href="{% static "splide-2.4.21/dist/css/themes/splide-sea-green.min.css" %}" rel="stylesheet"/>
        <link href="{% static "fontawesome/css/all.min.css" %}" rel="stylesheet"/>

        <!-- BANNER -->
        <section class="hero-medium vcenter">
            <svg class="flair-right desktop-only" width="166" height="586"
                 viewBox="0 0 166 586" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M259.181 0L259.18 586L28.504 368.659C-8.0612 334.208 -9.34204 276.492 25.6588 240.452L259.181 0Z"
                      fill="#578C43"></path>
            </svg>
            <svg class="flair-right mobile-only" width="91" height="262"
                 viewBox="0 0 91 262" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M133 0L133 262L22.2001 157.708C9.99766 146.223 9.57035 126.968 21.2513 114.952L133 0Z"
                      fill="#578C43"></path>
            </svg>
            <div class="content">
                <svg class="bg-flair-1" width="1571" height="577"
                     viewBox="0 0 1571 577" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M598.5 0.5H1569.27L1013.57 541.976C973.693 580.831 912.268 587.001 865.462 556.853L1.69964 0.5H598.5Z"
                          fill="#042549" stroke="#042549"></path>
                </svg>
                <div class="text-content">
                    <h1 class="h2">CLEAN COOKING <br> <strong class="light-green">EXPLORER</strong></h1>
                </div>
            </div>
            <div class="bg-image desktop-only lazy on-load lazy-ready"
                 data-img-src="{% static "img/index.jpeg" %}"
                 style="background-image: url({% static "img/index.jpeg" %})"></div>
            <div class="bg-image mobile-only lazy lazy-ready"
                 data-img-src="{% static "img/index.jpeg" %}"
                 style="background-image: url({% static "img/index.jpeg" %});">
            </div>
        </section>
        <!-- END BANNER -->

        <section class="flexible archive-body">
            <svg class="flair-left desktop-only" width="173" height="610"
                 viewBox="0 0 273 610" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 610L0.000526755 0L222.559 281.592C251.203 317.834 247.758 369.877 214.586 402.026L0 610Z"
                      fill="#0280BF"></path>
            </svg>

            <svg class="flair-left mobile-only" width="61" height="216"
                 viewBox="0 0 61 216" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M-36 216L-35.9998 0L44.0938 100.992C53.686 113.088 52.5336 130.487 41.4303 141.212L-36 216Z"
                      fill="#0280BF"></path>
            </svg>
            <div class="first-section">
                <div class="section-title align-left">
                    <div class="content">
                        <h2 class="h4 blue-text">Welcome to the <strong class="blue-text"> Clean Cooking Explorer </strong></h2>
                    </div>
                </div>
                <p class="content-description">
                    This platform will help you to plan for Clean Cooking Outcomes.
                    <br/>
                    We support your work through reports and analysis tools.
                </p>
                <p>
                    <a href="/tool" target="" class="btn btn-blue">Explore Data</a>
                </p>
            </div>
            <div class="section-title">
                <div class="content flex-center">
                    <h2 class="h4 blue-text">Why <strong class="blue-text"> Clean Cooking Explorer? </strong> </h2>
                </div>
            </div>

            <p class="content-description">
                Access to clean cooking technology (such as gas or electric stoves) can greatly improve health outcomes.
                Approximately 3 billion people depend on biomass fuels such as wood, coal, and dung for cooking to cook with (source: WHO article on household air pollution).
                The indoor air pollution generated whilst cooking indoors has serious, negative health impacts, with women and children in particular being affected.
            </p>

            <p class="content-description">
                The CCE is an online, open-source, and interactive spatial platform for promoting clean cooking throughout a country.
                The spatial platform integrates and supports analysis of geospatial datasets related to both the potential demand and supply of clean cooking services, allow data-driven planning, coordination, and decision-making to support the uptake and adoption of clean cooking throughout the country.
                This platform will empower users to visualize, interpret, and analyze geospatial datasets to accelerate access to clean cooking.
            </p>
            <br/>

            <div class="how-section">
                <div class="how-text">
                    <div class="section-title">
                        <div class="content">
                            <h2 class="h4 green-text"><strong>How </strong></h2>
                        </div>
                    </div>

                    <p class="content-description" style="line-height: 1.7">
                        To understand where access to clean cooking technology is needed we can combine spatial data, economic factors and sophisticated analysis tools.
                        These tools provided on this site will help planners to answer these <strong class="green-text">key questions</strong>:
                    </p>
                </div>
                <div class="how-carousel">
                    <div class="splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                     <p>
                                         Where is the demand for Clean Cooking Technology?
                                    </p>
                                    <img src="/static/img/how1.png" width="100%" >
                                </li>
                                <li class="splide__slide">
                                    <p>
                                        What Clean Cooking Technology is cost-optimal in each location?
                                    </p>
                                    <img src="/static/img/how1.png" width="100%">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: flex; justify-content: center; flex-direction: column; align-items: center">
                <div class="section-title align-left">
                    <div class="content flex-center">
                        <h2 class="h4 blue-text">Understand the <strong
                                class="blue-text"> reports </strong></h2>
                    </div>
                </div>
                <p class="content-description">
                    The CCE synthesizes location-specific data, enables online geospatial analysis for assessing demand and supply in the clean cooking sector,
                    and allows to share relevant information for a holistic approach in the clean cooking sector.
                </p>
                <p class="content-description">
                    The use of the CCE platform will enable decision making, planning, assessing and visualizing, and data driven coordination.
                </p>
                <br/>
                <div class="content-description github-box">
                    The Clean Cooking Explorer is Open Source and can be freely downloaded and deployed on your own server. Visit our GitHub page for the source.
                    <br/>
                    <a href="https://github.com/kartoza/clean-cooking-platform" class="btn btn-dark">
                        <div style="margin-right: 30px;">See the source </div>
                        <img src="{% static "img/github_icon.png" %}"/>
                    </a>
                </div>
            </div>
            <br/>
            <br/>
            <div class="blue-section">
                <div style="display: flex; justify-content: center; flex-direction: column; align-items: center; padding-bottom: 2em; padding-left: 2em; padding-right: 2em;">
                    <div class="section-title align-left">
                        <div class="content flex-center">
                             <h2 class="h4 blue-text" style="font-weight: 400">
                                 Who is this <strong class="blue-text">platform</strong> aimed at?
                            </h2>
                        </div>
                    </div>
                    <div class="target-category">
                        <div class="target-member" style="padding-left: 30px;padding-right: 30px;">
                            <i class="fas fa-hard-hat"></i>
                            <p>Energy Policy Makers</p>
                        </div>
                        <div class="target-member" style="padding-left: 30px;padding-right: 30px;">
                            <i class="fas fa-charging-station"></i>
                            <p>Provincial Energy Provision</p>
                        </div>
                    </div>
                    <div class="target-category">
                        <div class="target-member" style="padding-left: 30px;padding-right: 30px;">
                            <i class="fas fa-hotel"></i>
                            <p>Municipal</p>
                        </div>
                        <div class="target-member" style="padding-left: 30px;padding-right: 30px;">
                            <i class="fas fa-industry"></i>
                            <p>Energy Supply Companies</p>
                        </div>
                         <div class="target-member" style="padding-left: 30px;padding-right: 30px;">
                            <i class="fas fa-users"></i>
                            <p>Other stakeholders</p>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <br/>
            <div style="display: flex; justify-content: center; flex-direction: column; align-items: center">
                <div class="section-title align-left">
                    <div class="content flex-center">
                         <h2 class="h4" style="font-weight: 400">
                            Who developed this <strong>platform?</strong>
                        </h2>
                    </div>
                </div>
                <div class="gallery" style="justify-content: center">
                    <div class="gallery-icon-small">
                        <figure class="gallery-item-small">
                            <a href="https://www.cleancookingalliance.org/"
                               class="custom-link no-lightbox" title="Clean Cooking Alliance"
                               aria-label="" onclick="event.stopPropagation()"
                               target="_blank" rel="">
                                <img width="150"
                                     style="align-items: center"
                                     src="{% static "img/cca.png" %}"
                                     class="attachment-medium size-medium"
                                     alt="" loading="lazy"
                                     srcset="{% static "img/cca.png" %} 300w"
                                     sizes="(max-width: 150px) 100vw, 120px"></a>
                        </figure>
                    </div>
                    <div class="gallery-icon-small">
                        <figure class="gallery-item-small">
                            <a href="https://www.wri.org/"
                               class="custom-link no-lightbox" title="World Resources Institute"
                               aria-label="" onclick="event.stopPropagation()"
                               target="_blank" rel="">
                                <img width="150"
                                     src="https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/logos/wri.png"
                                     class="attachment-medium size-medium"
                                     alt="" loading="lazy"
                                     srcset="https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/logos/wri.png 300w"
                                     sizes="(max-width: 150px) 100vw, 120px"></a>
                        </figure>
                    </div>
                </div>
                <div class="gallery" style="justify-content: center; margin-top: 10px;">
                    <div class="gallery-icon-small">
                        <figure class="gallery-item-small">
                            <a href="https://www.energy.kth.se/department-of-energy-technology-1.891555"
                               class="custom-link no-lightbox" title="KTH"
                               aria-label="" onclick="event.stopPropagation()"
                               target="_blank" rel="">
                                <img width="150"
                                     src="{% static "img/kth-240.png" %}"
                                     class="attachment-medium size-medium"
                                     alt="" loading="lazy"
                                     srcset="{% static "img/kth-240.png" %} 300w"
                                     sizes="(max-width: 150px) 100vw, 120px"></a>
                        </figure>
                    </div>
                    <div class="gallery-icon-small">
                        <figure class="gallery-item-small">
                            <a href="https://kartoza.com/"
                               class="custom-link no-lightbox" title="Kartoza"
                               aria-label="" onclick="event.stopPropagation()"
                               target="_blank" rel="">
                                <img width="150"
                                     src="{% static "img/kartoza-logo.png" %}"
                                     class="attachment-medium size-medium"
                                     alt="" loading="lazy"
                                     srcset="{% static "img/kartoza-logo.png" %} 300w"
                                     sizes="(max-width: 150px) 100vw, 120px"></a>
                        </figure>
                    </div>
                    <div class="gallery-icon-small">
                        <figure class="gallery-item-small">
                            <a href="https://nou.edu.np/"
                               class="custom-link no-lightbox"
                               title="NOU - Nepal University" aria-label=""
                               onclick="event.stopPropagation()"
                               target="_blank" rel="">
                                <img width="150"
                                     src={% static "img/nou.png" %}"
                                 class=" attachment-medium size-medium" alt=""
                                loading="lazy"
                                srcset="{% static "img/nou.png" %} 300w"
                                sizes="(max-width: 250px) 100vw, 150px"></a>
                        </figure>
                    </div>
                </div>
            </div>

            <div style="height: 10em"></div>

        <!-- CONTENT-ENDS -->
    </main>
{% endblock %}

{% block footer_js %}
    <script src="{% static "splide-2.4.21/dist/js/splide.min.js" %}"></script>
    <script>
        document.addEventListener( 'DOMContentLoaded', function () {
            new Splide( '.splide' ).mount();
        });
    </script>
{% endblock %}