{% extends 'eae_base.html' %}
{% load staticfiles %}

{% block content %}

    <main>
        <!-- CONTENT-STARTS -->
        <link href="{% static "eae/stylesheets/index.css" %}"
              rel="stylesheet"/>
        <link href="{% static "eae/stylesheets/thumbnails.css" %}"
              rel="stylesheet"/>

        <section class="banner"
                 style="background-image: url(https://www.cleancookingalliance.org/images/data/IMAGE/photo/000/001/1154-2.JPG);">
            <h1><span class="notranslate">Clean Cooking Explorer</span></h1>

            <h3>
                Clean Cooking Explorer provides the data and tools necessary to
                create a future where all people have access to affordable,
                reliable and modern clean cooking technology.
            </h3>

            <button class="pop-hover" style="font-size: 1em;"><a href="/tool">Explore
                Data</a></button>
        </section>

        <section>
            <h2>Sample Analysis</h2>

            <div class="thumbnails">
                <div class="thumbnail thumbnail-med pop-hover"
                     style="background-image: url(https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/photos/ce5fb292c6279dc7d9372bb1ddea107b.png);"
                     onclick="window.location = '/sample-analysis#services';">
                    <h3>Better Quality Services</h3>

                    <p>Expanding clean energy can improve healthcare and
                        education in East Africa.</p>
                </div>

                <div class="thumbnail thumbnail-med pop-hover"
                     style="background-image: url(https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/photos/90f1f98c41132a8a997c1f8523359693.png);"
                     onclick="window.location = '/sample-analysis#livelihood';">
                    <h3>Better Livelihoods</h3>

                    <p>Renewable energy potential is high for many East African
                        households without reliable electricity.</p>
                </div>

                <div class="thumbnail thumbnail-med pop-hover"
                     style="background-image: url(https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/photos/4271331728_f1486cc127_b.jpg);"
                     onclick="window.location = '/sample-analysis#productivity';">
                    <h3>Higher Productivity</h3>

                    <p>Renewable energy can boost East African economies and
                        businesses.</p>
                </div>
            </div>
        </section>

        <section id="blogs-publications">
            <h2>Relevant Blogs and Publications</h2>

            <div class="thumbnails">
                <div class="thumbnail thumbnail-small pop-hover"
                     onclick="window.open('https://www.wri.org/blog/2019/09/millions-east-africans-who-need-electricity-data-shows-renewable-energy-most-viable-affordable-solution', '_blank');"
                     style="background-image: url(https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/photos/195d146676959545b5201969cec61842.jpg);">
                    <h3>Blog</h3>

                    <p>For the millions of East Africans who need electricity
                        most, data shows
                        renewable energy is a viable and affordable
                        solution</p>
                </div>

                <div class="thumbnail thumbnail-small pop-hover"
                     onclick="window.open('https://www.shineinvest.org/eae-wri/', '_blank');"
                     style="background-image: url(https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/photos/4271332050_b6f636683b_b.jpg);">
                    <h3>Blog</h3>

                    <p>Clean Cooking Explorer - A data driven tool to ensure
                        strategic clean energy access</p>
                </div>

                <div class="thumbnail thumbnail-huge pop-hover"
                     onclick="window.open('https://www.wri.org/publication/energy-access-explorer-data-and-methods', '_blank');"
                     style="background-image: url(https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/photos/9271377331_50f71581fd_b.jpg);">
                    <div>
                        <h3>Technical note</h3>

                        <br><br>

                        <p>
                            Clean Cooking Explorer: Data and Methods
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="partners">
            <div id="partners-title">Partners</div>

            <div id="partners-container">

                <div class="logo">
                    <a title="Clean Cooking Alliance"
                       href="https://www.cleancookingalliance.org/"
                       target="_blank">
                        <img src="{% static "img/cca.png" %}">
                    </a>
                </div>

                <div class="logo">
                    <a title="World Resources Insitute"
                       href="https://www.wri.org/"
                       target="_blank">
                        <img src="https://wri-public-data.s3.amazonaws.com/EnergyAccess/website/logos/wri.png">
                    </a>
                </div>

                <div class="logo">
                    <a title="KTH"
                       href="https://www.energy.kth.se/department-of-energy-technology-1.891555"
                       target="_blank">
                        <img src="{% static "img/kth.png" %}">
                    </a>
                </div>

                <div class="logo">
                    <a title="Kartoza"
                       href="https://kartoza.com/"
                       target="_blank">
                        <img src="{% static "img/kartoza-logo.png" %}">
                    </a>
                </div>

                <div class="logo">
                    <a title="NOU - Nepal University"
                       href="https://nou.edu.np/"
                       target="_blank">
                        <img src="{% static "img/nou.png" %}">
                    </a>
                </div>
            </div>
        </section>

        <!-- CONTENT-ENDS -->
    </main>
{% endblock %}