{% extends 'eae_base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link href="{% static "halfmoon-1.1.1/css/halfmoon.min.css" %}"
          rel="stylesheet">
    <link href="{% static "halfmoon-1.1.1/css/halfmoon-variables.min.css" %}"
          rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- CONTENT-STARTS -->
    <link href="/static/eae/stylesheets/methodology.css" rel="stylesheet"/>
    <section class="hero-large size-large color-green alignment-center">
        <div class="content">
            <svg class="bg-flair-1 desktop-only" width="1154" height="540"
                 viewBox="0 0 1154 540" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M1154 0L963.688 464.874C944.402 511.985 897.489 541.801 846.646 539.26L274.153 510.655C235.583 508.728 201.57 484.764 186.774 449.093L0.5 0H1154Z"
                      fill="#578C43"></path>
            </svg>
            <div class="text-content readability-normalize">
                <svg class="bg-flair-2 mobile-only" viewBox="0 0 377 61"
                     fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0.00488281H377V6.00006L96.4894 59.0697C74.8002 63.1731 52.3794 58.1323 34.5336 45.1406L0 20.0001V0.00488281Z"
                          fill="#578C43"></path>
                </svg>
                <h1 class="h2"><strong style="color: white !important;">The Science Behind Clean Cooking Explorer</strong></h1>
            </div>
        </div>
        <div class="bg-image lazy on-load lazy-ready"
             data-img-src="{% static "img/methodology_banner.jpg" %}"
             style="background-image: url({% static "img/methodology_banner.jpg" %});">
        </div>
    </section>
    <section class="flexible archive-body" style="padding-bottom: 0; padding-top: 0">
        <svg class="flair-left" width="251" height="865" viewBox="0 0 251 865" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.08" d="M-107 0.000305176V864.896L220.767 567.073C255.291 535.704 260.125 483.155 231.903 446.013L-107 0.000305176Z" fill="#578C43"></path>
        </svg>
        <svg class="flair-right" width="131" height="459" viewBox="0 0 131 459" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M227 458.762V0L48.6742 180.587C21.7104 207.893 21.758 251.817 48.7809 279.064L227 458.762Z" fill="#0280BF" fill-opacity="0.08"></path>
        </svg>

        <section class="methodology-first-section">
            <div style="display: flex; align-items: center; flex-direction: column">
                <div class="section-title">
                    <div class="content flex-center" style="text-align: center">
                        <h2 class="h4 blue-text">Multi-Criteria Analysis Using the <strong class="blue-text">Clean Cooking Explorer Tool</strong> </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-sm-1"></div>
                    <div class="col-lg-4 col-sm-12" style="background-color: #0280bf; color: white;  border-bottom-left-radius: 2em; padding: 1.8em 3em">
                        <h3 style="color: white; font-weight: 600">Clean Cooking Explorer</h3>
                        <p class="content-description" style="line-height: 1.8">
                            The Clean Cooking Explorer utilizes geospatial data in a multi-criteria analysis to identify the state of access to clean cooking.
                            The tool enables users to identify areas with high expansion potential as well as areas where assistance is needed, making it a useful tool for both policy makers and private investors.
                        </p>
                    </div>
                    <div class="col-lg-4 col-sm-12"  style="background-color: #578C43; color: white; border-bottom-right-radius: 2em;  padding: 1.8em 3em">
                        <h3 style="color: white; font-weight: 600; margin-bottom: 0">OnSSTOVE</h3>
                        <div class="badge badge-secondary" style="margin-bottom: 2rem;">Coming Soon</div>
                        <p class="content-description" style="line-height: 1.8">
                            OnSSTOVE is a geospatial modelling tool that uses techno- and socio-economic data in order to estimate the potential of adopting different improved and clean cooking solutions.
                            The tool determines the net-benefits of each cooking solution and presents scenarios with the highest net-benefit option for every settlement.
                        </p>
                    </div>
                    <div class="col-lg-2 col-sm-1"></div>
                </div>
                <div style="height: 20px"></div>
            </div>
        </section>

        <section class="methodology-section" style="background-color: #ebf5fa; flex-direction: column; padding-top: 0">
             <div class="section-title">
                 <div class="content flex-center" style="text-align: center">
                     <h2 class="h4 blue-text">The Clean Cooking Explorer uses a GIS-based multi-criteria analysis to identify the state of access to clean cooking</h2>
                 </div>
             </div>
            <div class="methodology-content">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-mc">
                        <div class="mc-title">Demand Index</div>
                        <div class="mc-text">Is an aggregated and weighted measure of all selected data sets under the Demand category.
                            It identifies areas with higher energy demand.</div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-mc">
                        <div class="mc-title">Supply Index</div>
                        <div class="mc-text">Is an aggregated and weighted measure of all selected data sets under the Supply category.
                            It identifies areas with potential for clean cooking energy supply.</div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-mc">
                        <div class="mc-title">Clean Cooking Potential Index</div>
                        <div class="mc-text">Is an aggregated measure of all selected data sets under both Demand and Supply categories.
                            It identifies areas with higher energy demand and potential of supply which are characterized with higher index values.</div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-mc">
                        <div class="mc-title">Assistance Needed Index</div>
                        <div class="mc-text">Is an aggregated and weighted measure of selected data sets under both Demand and Supply
                            categories indicating existing or potential energy demand, low economic activity, and low access to infrastructure and resources.
                            It identifies areas where market assistance is needed the most.</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="methodology-section" style="background-color: white; flex-direction: column; padding-top: 0">
            <div class="section-title">
                 <div class="content flex-center" style="text-align: center">
                     <h2 class="h4">Approach followed in the Clean Cooking Explorer Analysis</h2>
                 </div>
             </div>
            <div class="methodology-content">
                <img src="{% static "img/methodology__2.png" %}" width="100%"/>
            </div>
        </section>
        <section class="methodology-section" style="background-color: #edf5f9; ">
            <h3 class="h4"><strong class="blue-text">Supply Index</strong></h3>
            <div class="methodology-content">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <img src="{% static "img/methodology__3.png" %}" width="100%"/>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p>
                            The <b>Supply Index</b> is the weighted sum of normalized distances to existing infrastructure and areas with high fuel potential (for biogas).
                            The <b>Supply index</b> varies according to the datasets that the user has selected from the supply side.
                            Equation 1, shows how the index is calculated where w is a weighing factor for the i-th Normalized Supply Data set (NSD),
                            referring to the normalized values of data under the supply group.
                            The final displayed Normalized Su
                            pply Index (NSI) is computed as described in equation 2.
                        </p>
                        <div style="display: flex">
                            <img style="margin-left: auto; margin-right: auto;" src="{% static "img/methodology__3_1.png" %}" width="60%"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="methodology-section" style="background-color: white;">
            <h3 class="h4"><strong class="blue-text">Filters</strong></h3>
            <div class="methodology-content">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <img src="{% static "img/methodology__4.png" %}" width="100%"/>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p>
                            The explorer enables users to filter out certain results. This gives investors, policy makers,
                            donors and planners the ability to focus on specific parts of the study area.
                            <br/>
                            This is helpful if one wishes to focus on e.g. a specific region of the country or population under the poverty line.
                            <br/>
                            Using the filters, the <b>Clean Cooking Index</b> can be used to identify which of the priority areas have more potential depending on the
                            datasets selected in the <b>Demand</b> and <b>Supply</b> categories.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="methodology-section" style="background-color: #edf5f9; ">
            <h3 class="h4"><strong class="blue-text">Clean Cooking Potential Index</strong></h3>
            <div class="methodology-content">
                <div class="row">
                     <div class="col-lg-6 col-sm-12">
                        <img src="{% static "img/methodology__5.png" %}" width="100%"/>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p>
                            With the filters included the aggregated demand and
                            supply indices are calculated and combined to form
                            the <b>Clean Cooking Potential Index</b>.
                            <br/>
                            Different weights can be applied to different
                            datasets. Areas with high demand, close to supply
                            systems, good fuel availability and high ability to
                            pay have a positive impact on the <b>Clean Cooking
                            Potential Index</b>.
                            <br/>
                            The user can impact the importance of different
                            datasets in the index by altering the weight of
                            each dataset.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="methodology-section" style="background-color: white; ">
            <h3 class="h4"><strong class="blue-text">Assistance Needed Index</strong></h3>
            <div class="methodology-content">
                <div class="row">
                     <div class="col-lg-6 col-sm-12">
                        <img src="{% static "img/methodology__6.png" %}" width="100%"/>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <p>
                            The <b>Assistance Needed Index</b> identifies population
                            and regions that may be in need of financial
                            assistance for adopting clean cooking solutions.
                            <br/>
                            Areas with the potential to develop economic
                            activity and a significant clean cooking demand,
                            may require more financial
                            support. Same also holds true for areas with lower
                            current economic activity (low wealth and low GDP)
                            and areas with insufficient supply (far away from
                            supply technologies).
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color: #edf5f9; ">
            <p>
                The Clean Cooking Explorer adheres to the data quality standards set in place by WRI's Energy Access Explorer (EAE).
                To view more information about data quality standards, view the <a href="https://files.wri.org/d8/s3fs-public/energy-access-explorer-data-and-methods.pdf">technical note</a>.
            </p>
        </section>
    </section>
    <!-- CONTENT-ENDS -->
{% endblock %}