h1, h2, h3 {
  color: var(--the-green);
}

a {
  cursor: pointer;
}

.big-green-button {
  text-align: center;
  margin: 1em;
  background-color: var(--the-green);
  color: white !important;
  text-decoration: none;
  padding: 0.9em 1.3em;
}

.up-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2em;
  color: var(--the-green) !important;
  fill: var(--the-green) !important;
  background-color: white !important;
}

.up-title.active {
  background-color: var(--the-green) !important;
  color: var(--the-white) !important;
  fill: var(--the-white) !important;
}

dialog main {
  background-color: white;
  margin: auto;
  max-width: 1200px;
  width: fit-content;
  width: -moz-fit-content;
  margin-top: 80px !important;
}

dialog header {
  padding: 1em;
  padding-left: 1.3em;
  font-size: 1.2em;
  background-color: var(--the-green);
  color: var(--the-white);
  position: relative;
}

dialog .close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  text-decoration: none;
  font-size: 1.4em;
  line-height: 1em;
  width: 1em;
  display: block;
  text-align: center;
  vertical-align: middle;
  color: var(--the-white);
}

dialog content {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.5em;
}

dialog pre {
  max-width: 850px;
  white-space: pre-line;
}

.more-dropdown-ul {
  width: fit-content;
  width: -moz-fit-content;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
  position: absolute;
  right: -25px;
  top: 30px;
  padding: 8px 0;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
  z-index: 9999;
}

.more-dropdown-li {
  padding: 7px 15px;
  font-size: 0.9em;
  color: var(--the-color);
}

.more-dropdown-li:hover {
  background-color: #e7e9ec;
}

.more-dropdown-li:hover:active {
  background-color: #cecece
}

aside.nanny-marker {
  background-color: rgba(0,0,0,1);
  border-radius: 3px;
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);

  max-width: 400px;

  animation: pulse 3s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
  z-index: 9999;
}

aside.nanny-marker * {
  color: white;
}

aside.nanny-marker main {
  padding: 1em;
}

aside.nanny-marker header {
  font-weight: bold;
  font-size: 1.05em;
  margin-bottom: 0.7em;
}

aside.nanny-marker .nanny-close-button::before {
  font-size: 1.5em;
  padding: 2px 7px;
}

aside.nanny-marker .nanny-close-button::before {
  content: '×';
}

.download-link {
  display: block;
  padding: 0.5em 1em;
  max-width: 15em;
  text-decoration: none;
  color: var(--the-blue);
  clear: both;
}

.download-link:after {
  margin-left: 1em;
  content: '\21F2';
}

.description-text {
  font-family: without-serif, sans-serif;
  white-space: pre-line;
}

.bottom-right-container {
  background-color: white;
  text-align: center;
}

@keyframes pulse {
  0%   { opacity: 0.7; }
  50%  { opacity: 1.0; }
  100% { opacity: 0.7; }
}
#left-pane #drawer {
  background-color: lightgray;
}

#left-pane #drawer > div {
  text-align: center;
  border-bottom: 1px solid #aaa;
}

.number-labels {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 400px;
  padding: 1em;
  border: 1px solid darkgrey;
  margin: auto;
  margin-top: 2em;
}

.number-labels-row > th,
.number-labels > div {
  color: white;
  padding: 5px 7px;
}

.country-overview section {
  margin: 1em 0;
}
body {
  overflow: hidden;
}

#playground {
  display: flex;
  flex-flow: row nowrap;

  flex-direction: row;

  width: auto;     /* will be changed by JS */
  height: auto;    /* will be changed by JS */

  padding: 0;
  font-size: 0.9em;
}

#left-pane {
  /*min-width: 36em; !* 40em *!*/
  display: flex;
  flex-flow: column wrap;
  flex: 0;
}

#left-pane #drawer {
  display: block;
  flex: 1;
  min-height: 100%;
  width: 0em; /* 4em */
}

#left-pane #drawer .button {
  flex: 0;
  margin: 0;
  height: 4em;
  line-height: 4em;
  display: block;
}

#controls {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 36em;

  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#visual {
  flex: 1 0;
  flex-flow: row nowrap;

  position: relative;
}

#views {
  display: flex;
  flex: 1 100%;
  justify-content: space-around;
  z-index: 1;
}

#maparea {
  position: relative;
  flex: 1;
  width: 100%;    /* will be changed by JS */
  height: auto;    /* will be changed by JS */
  padding: 0;
  margin: auto;
}

#right-pane {
  position: relative;
  display: block;
  width: 24em;
}

#right-pane .header {
  padding: 0 1em;
}

#right-pane .graphs {
  padding: 0 0.5em;
}

#filtered-pane,
#indexes-pane,
#cards-pane {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;

  width: inherit;
  height: 100%;
  z-index: 0;
}

#cards-list {
  flex-grow: 1;
}

#timeline {
  text-align: center;
  height: 128px;
}

#timeline svg {
  margin: 2em auto;
}

#drawer-right-pane {
  border-top: 1px solid lightgray;
  width: inherit;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background-color: #F8F8F8;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

#drawer-right-pane > div {
  display: block;
  width: 100%;
  text-align: center;
  border-right: 1px solid lightgray;
  cursor: pointer;
  padding: 1em;
}

[bind=help-message] {
  display: none;
}

#disclaimer-message {
  display: none;
  position: absolute;
  background-color: #141414;
  right: 0;
  bottom: 0;
  padding-right: 2em;
}

#disclaimer-message p {
  color: #f1f1f1;
  white-space: pre;
}

#drawer-right-pane > div:hover #disclaimer-message {
  display: block;
}

#mapbox-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

#mapbox-container {
  z-index: 0;
}

#mapbox-theme-control-popup .radio-group + .radio-group {
  margin-top: 8px;
}

.bottom-right-container {
  height: auto;
  margin-top: 3px;
  margin-bottom: 47px;
  box-sizing: border-box;
  z-index: 0;
}

#canvas-output-select {
  display: block;
  padding: 0.7em 1em;
}

canvas#output {
  max-height: 300px;
  max-width: 100%;
}
#controls {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-flow: column;
  border-top: solid 1px var(--the-white);
}

.controls-branch,
.controls-subbranch,
.controls-container {
  position: relative;
}

#controls-tabs {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: white;
  height: 100vh;
}

#controls-contents {
  flex: 1;
  height: 100%;
  border-left: solid 1px #d9d9d9;
  background-color: var(--the-white);

  overflow-y: scroll;
  overflow-x: hidden;
}

.controls-branch-tab {
  font-size: 1.1em;
  line-height: 2em;
  padding: 0.4em 1em;
  white-space: nowrap;
  text-align: left;
  font-weight: normal;

  position: sticky;
  top: 0;
  margin-bottom: 1px;
}

.controls-subbranch-title {
  font-size: 1em;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 1em 0.7em;
  border-bottom: solid 1px #d9d9d9;
  cursor: pointer;

  position: sticky;
  top: 0;
}

.controls-subbranch-title .triangle {
  display: inline-block;
  transform: scale(1.15);
  margin-right: 1em;
}

.collapse {
  cursor: pointer;
  fill: var(--the-color);
}

#left-pane select {
  border: none;
  width: 100%;

  padding: 0.65em;
  background-color: white;
}

#search-input {
  align-items: center;

  box-sizing: border-box;

  font-size: 1.2em;

  color: var(--the-white);
  background-color: var(--the-green);
  padding: 10px 0;
  text-align: center;
}

#search-input .selectlist-container {
  display: inline-block;
  width: calc(100% - 50px);
}

#search-input .selectlist-input,
input[list="controls-geography"] {
  box-sizing: border-box;
  font-size: 1.7em;
  padding: 0.5em 1em;

  font-family: without-serif;
  font-weight: lighter;

  text-align: center;

  color: white;
  background-color: var(--the-green);
  border: none;
  width: calc(100% - 50px);
}
#maparea {
  background-color: var(--the-white);
}

canvas.mapboxgl-canvas {
  cursor: auto;
}

.mapboxgl-ctrl-icon.active {
  background-color: rgba(0,0,0,.07);
}

#coord-tooltip {
  position: absolute;
  display: none;
  pointer-events: none;

  background: #fff;
  color: #666;

  padding: 5px;
  border: solid #ccc 1px;

  font-size: x-small;
  font-family: monospace;
  white-space: nowrap;
}
#indexes-pane {
  display: block !important;
  overflow-y: auto;
  background-color: var(--the-white);
  color: var(--the-color);
  fill: var(--the-color);
}

#indexes-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--the-white);
  border-top: 1px solid lightgray;
}

#indexes-list .element {
  background-color: var(--the-white);
  display: flex;

  padding: 0.5em;
  line-height: 1.8em;

  padding: 5px;

  cursor: pointer;
  white-space: nowrap;
}

#indexes-list .element[disabled] {
  color: #ababab;
}

#indexes-list .element[disabled] span::after {
  content: '(no datasets selected)';
  font-size: smaller;
  margin-left: 3em;
}

#indexes-list .element span {
  padding: 0.5em;
}

#indexes-list .element .radio {
  margin-top: 10px;
  margin-left: 10px;
}

#indexes-list .element[bind="demand"]:before,
#indexes-list .element[bind="supply"]:before {
  width: 1.3em;
  display: block;
  content: ' ';
  border-right: solid 1px #d9d9d9;
  margin-right: 0.5em;
}

#index-graphs {
  padding: 0.7em 0 2em;
  background-color: white;
}

#index-graphs-title {
  padding: 0.7em 1em;
  text-align: left;
}

.index-graphs-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.index-graphs-group {
  width: 150px;
}

.index-graphs-group div {
  margin: 1em auto;
}

.indexes-pie-label {
  font-size: small;
  color: #919191;
}

.index-graphs-scale {
  margin: 1em 2em;
}

#index-graphs-description {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  padding: 1em 2em;
}

#index-graphs-toolbox {
  display: flex;
  padding-right: 1em;
  float: right;
}

#index-graphs-toolbox a {
  padding-right: 0.5em;
  cursor: pointer;
}
#views {
  position: absolute;
  width: calc(100% - 3em);
  top: 20px;
  display: flex;
  justify-content: center;
}

#views .view {
  text-align: center;
  padding: 0.7em 1em;
  cursor: pointer;
  width: 250px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
#filtered-pane {
  padding: 0.7em 0 2em;
  background-color: white;
}

#filtered-pane .up-title {
  padding: 0.7em 1em;
  text-align: left;
}

ul#filtered-subgeographies {
  margin-left: 0;
}
[ripple] {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

[ripple]:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, gray 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

[ripple]:active:after {
  transform: scale(0, 0);
  opacity: .2;
  transition: 0s;
}
.svg-interval,
.svg-range,
.svg-point,
.svg-polygon,
.svg-pie {
  filter: drop-shadow( 0px 1px 1px rgba(0, 0, 0, .3));
}

#summary-button-container {
  height: 120px;
  display: flex;
  flex-direction: column;
}

#summary-button-wrapper {
  padding-top: 10px;
  padding-bottom: 15px;
  background: white;
}

#summary-button {
  cursor: pointer;
}

#summary-graphs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 800px;
  color: var(--the-color);
}

.tab.hidden {
  display: none !important;
}

table.summary {
  width: 100%;
  margin: 1em auto 2em;
}

table.summary td {
  text-align: right;
  padding: 3px 5px;
}

table.summary .index-name {
  text-align: left;
  font-family: without-serif, sans-serif;
}

#summary-graphs .index-group {
  margin: 2em 0;
}
#mobile-switcher {
  display: none;
}

@media (max-width: 72em) {
  .more-dropdown {
    display: none !important;
  }

  .bottom-right-container {
    display: none;
  }

  #left-pane {
    min-width: unset;
    width: 100%;
    position: absolute;
    z-index: 1;
  }

  #search-input {
	display: none;
  }

  #right-pane {
    width: 100%;
    position: absolute;
  }

  #controls-tabs {
    display: none;
  }

  #mobile-switcher {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  #mobile-switcher > div {
    flex: 1;
    text-align: center;
    padding: 12px;
    fill: var(--the-color);
  }

  #mobile-switcher > div.active {
    background-color: #dedede;
  }

  #views {
    width: 100%;
    position: fixed;
    top: unset;
	bottom: 0;
  }

  #mapbox-container {
    position: relative;
  }

  #playground {
    box-shadow: 3px 1px 2px rgba(0,0,0,0.9);
  }
}
#cards-pane {
  background-color: var(--the-white);
}

#cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: var(--the-white);
  overflow-y: scroll;
}

#canvas-output-select {
  border: none;
  font-size: 1em;
  background-color: white;
}

.search-input {
    font-weight: lighter;
    font-size: 1.7em;
    align-items: center;
    box-sizing: border-box;
    padding: 1em 1em;
    padding-left: 3.25em;
    text-align: center;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    color: var(--the-green);
}

#controls .search-results {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

.search-results {
    flex-grow: 1;
    height: -webkit-fill-available;
    height: -moz-available;
    background-color: white;
    padding: 1em;
    overflow-y: scroll;
}

.hover-button:hover {
    cursor: pointer;
}

#left-pane .sidebar-menu {
  display: inline-block;
  position: absolute;
  left: 500px;
  margin-right: -20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  z-index: 999;
}

#left-pane .sidebar-menu .btn.btn-primary {
  background: #0280BF;
  border-color: #0280BF;
}

#left-pane .sidebar-menu .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 15px;
  color: white;
  font-weight: bold;
}

.info-container {
  display: none;
  border-radius: 8px;
  position: absolute;
  z-index: 999;
  background-color: rgba(87, 140, 67, 0.80);
  bottom: 36px;
  max-width: 20em;
  color: white;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 30%);
  margin-left: 530px;
}

.info-container #showInfoBtn {
  padding: 8px;
  cursor: pointer;
  display: none;
}

.info-container #showInfoBtn img {
  filter: invert(100%);
  width: 25px;
}

.info-container #infoBox {
  padding: 10px;
  min-width: 15em;
}

.info-container .info-panel {
  padding-top: 5px;
  padding-bottom: 3px;
}

.info-container .info-panel-title {
  font-size: 13pt;
  font-weight: bold;
  line-height: 20px;
}

.info-container .info-panel-desc {
  font-size: 9pt;
  line-height: 18px;
}

.info-container #close-info-container span {
  cursor: pointer;
  float: right;
  filter: invert(100%)
}

#ea-modal main {
  min-width: 80vh;
}

#ea-modal dt {
  color: #042549;
  font-size: 16px;
  font-weight: 500;
}

#ea-modal dl dd {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 0px;
}

#ea-modal dd .fa {
  padding-right: 5px;
}

#ea-modal table {
  max-width: 90% !important;
}

#ea-modal .page-header {
  display: none;
}