{% load staticfiles %}
{% load access_extras %}
{% is_restricted as is_restricted %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'eae/images/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'eae/images/favicon-16x16.png' %}" sizes="16x16" />

    <link href="{% static "fonts/stylesheet.css" %}" rel="stylesheet"/>
    <link href="{% static "eae/stylesheets/style.css" %}" rel="stylesheet"/>
    <link href="{% static "eae/stylesheets/banner.css" %}" rel="stylesheet"/>
    <link href="{% static "eae/stylesheets/main.css" %}" rel="stylesheet"/>
    <link href="{% static "eae/stylesheets/nav.css" %}" rel="stylesheet"/>
    <link href="{% static "eae/stylesheets/partners-section.css" %}"
          rel="stylesheet"/>
    <link href="{% static "eae/stylesheets/footer.css" %}" rel="stylesheet"/>
    <style>
        .title-text {
            font-weight: 600 !important;
        }
    </style>
    <title>Clean Cooking Explorer</title>
    <script>
      /** Getting cookie function
       * @param cname
       * @returns {string}
       */
      function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) === 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      /** Set a cookie function
       *
       * @param cname
       * @param cvalue
       * @param exdays
       */
      function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
      }
    </script>
    {% block extra_head %}{% endblock %}
</head>

<body>
<nav>
    <input id="toggle"
           class="no-desktop"
           type="checkbox">

    <label for="toggle" class="no-desktop">
        <svg style="width:24px;height:24px" viewBox="0 0 24 14">
            <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/>
        </svg>
    </label>

    <a id="energy-access-link"
       href="/">
        <span class="notranslate">Clean Cooking Explorer</span>
    </a>
    {% if not is_restricted or user.is_authenticated %}
    <div id="navigation-links">
        <a href="/"
           class="toggleable">
            Home
        </a>

        <a href="/tool/"
           class="toggleable">
            Reports
        </a>

        <a href="/maps/"
           class="toggleable">
            Maps
        </a>

        <a href="/methodology"
           class="toggleable">
            Methodology
        </a>

        <a href="/layers"
           class="toggleable">
            GIS Data
        </a>

        <a href="/about-us"
           class="toggleable">
            About
        </a>

        {% if user.is_superuser %}
            <a href="/admin"
               class="toggleable">
              Admin
            </a>
        {% endif %}
        <!--
        <a href="/faq"
           class="toggleable">
          FAQ
        </a>
        -->
    </div>
    {% else %}

        <div id="navigation-links" class="login-menu-link">
            <a></a><a></a>
            <a href="/account/login"
               class="toggleable">
                Login
            </a>

        </div>
    {% endif %}
</nav>

<script>
    (function () {
        const links = document.querySelectorAll('nav #navigation-links a');
        if (!links) return;

        for (var l of links) {
            let locationPathName = location.pathname;
            if(locationPathName.substr(-1) === '/') {
                locationPathName = locationPathName.substr(0, locationPathName.length - 1);
            }
            if (l.getAttribute('href') === '/' && locationPathName !== '') {
              continue;
            }
            if (locationPathName.match(new RegExp(l.getAttribute('href').split('/')[1])))
                l.classList.add("active");
        }
    })();
</script>

<main style="min-height: 60%;">
    {% block content %}

    {% endblock %}
</main>
<footer>
    <div>
        <img id="footer-wri-logo"
             src="{% static "eae/images/newlogo.png" %}"
             alt="Clean Cooking Alliance">

        <div>
            <p>
                <strong>CONTACT US</strong>
                <br><br>
                1750 Pennsylvania Ave NW, Suite 300
                <br><br>
                Washington, D.C. 20006
                <br><br>
                <a href="mailto:info@cleancookingalliance.org">info@cleancookingalliance.org</a>
                <br><br><br>
{#                <a href="/privacy-policy">Privacy Policy</a>#}
                <span id="google_translate_element"></span>
            </p>
        </div>
    </div>
    <!-- Code provided by Google -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                autoDisplay: false
            }, 'google_translate_element');
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
            type="text/javascript"></script>

    <!-- Flag click handler -->
    <script type="text/javascript">
        $('.translation-links a').click(function () {
            var lang = $(this).data('lang');
            var $frame = $('.goog-te-menu-frame:first');
            if (!$frame.size()) {
                alert("Error: Could not find Google translate frame.");
                return false;
            }
            $frame.contents().find('.goog-te-menu2-item span.text:contains(' + lang + ')').get(0).click();
            return false;
        });
    </script>
</footer>
{% block footer_js %}

{% endblock %}
<script src="{% static "eae/javascripts/cookie.notice.min.js" %}"></script>
<script src="{% static "eae/javascripts/gapps.js" %}"></script>
</body>
