{% load staticfiles %}
{% load access_extras %}
{% is_restricted as is_restricted %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'eae/images/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'eae/images/favicon-16x16.png' %}" sizes="16x16" />

    <link href="{% static "fonts/stylesheet.css" %}" rel="stylesheet"/>
    <link href="{% static "eae/stylesheets/style.css" %}" rel="stylesheet"/>
    <link href="{% static "eae/stylesheets/banner.css" %}" rel="stylesheet"/>
    <link href="{% static "eae/stylesheets/main.css" %}" rel="stylesheet"/>
    <link href="{% static "eae/stylesheets/partners-section.css" %}"
          rel="stylesheet"/>
    <link href="{% static "eae/stylesheets/footer.css" %}" rel="stylesheet"/>
    <style>
        .title-text {
            font-weight: 600 !important;
        }
    </style>
    <title>Clean Cooking Explorer</title>
    <script>
      /** Getting cookie function
       * @param cname
       * @returns {string}
       */
      function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) === ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) === 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      /** Set a cookie function
       *
       * @param cname
       * @param cvalue
       * @param exdays
       */
      function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + "; " + expires;
      }
    </script>
    {% block extra_head %}{% endblock %}
</head>

<body>

{% include 'nav_bar.html' %}

<main style="min-height: 60%;">
    {% block content %}

    {% endblock %}
</main>
<footer>
    <div>
        <div class="footer-left">
            <img id="footer-wri-logo"
                 src="{% static "eae/images/newlogo.png" %}"
                 alt="Clean Cooking Alliance">
            <div class="attribution-footer">
                CCE builds on the methods introduced by and the open-source technology
                <br/>developed for WRI’s Energy Access Explorer (EAE).
                <br/>
                <a href="https://www.energyaccessexplorer.org/"> https://www.energyaccessexplorer.org/</a>
            </div>
        </div>
        <div>
            <p>
                <strong>CONTACT US</strong>
                <br><br>
                1750 Pennsylvania Ave NW, Suite 300
                <br><br>
                Washington, D.C. 20006
                <br><br>
                <a href="mailto:info@cleancookingalliance.org">info@cleancookingalliance.org</a>
                <br><br><br>
{#                <a href="/privacy-policy">Privacy Policy</a>#}
                <span id="google_translate_element"></span>
            </p>
        </div>
    </div>
    <!-- Code provided by Google -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                autoDisplay: false
            }, 'google_translate_element');
        }
    </script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
            type="text/javascript"></script>

    <!-- Flag click handler -->
    <script type="text/javascript">
        try {
            $('.translation-links a').click(function () {
                var lang = $(this).data('lang');
                var $frame = $('.goog-te-menu-frame:first');
                if (!$frame.size()) {
                    alert("Error: Could not find Google translate frame.");
                    return false;
                }
                $frame.contents().find('.goog-te-menu2-item span.text:contains(' + lang + ')').get(0).click();
                return false;
            });
        } catch (e) {}
    </script>
</footer>
{% block footer_js %}

{% endblock %}
<script src="{% static "eae/javascripts/cookie.notice.min.js" %}"></script>
<script src="{% static "eae/javascripts/gapps.js" %}"></script>
</body>
