:root {
  --the-yellow: #f65b2a;
  --the-blue: #003893;
  --the-gray: #333333;
  --the-blueish-white: #F4F6F7;
  --the-light-gray: #e5e5e5;
  --the-redish-gray: #042549;
  --the-white: #f8f8f8;
  --the-darker-white: #f4f4f4;
  --the-darkest-white: #f1f1f1;
  --the-green: #042549;
  --the-real-green: #578C43;
  --the-light-green: #98BC40;
  --the-color: #000000;
  --primary-blue-1: #042549;
  --primary-blue-2: #144172;
  --primary-blue-3: #6fb7d1;
  --secondary-orange-1: #f65b2a;
  --secondary-orange-2: #ff9325;
}
@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto&display=swap');
@font-face {
  font-display: block;
  font-family: without-serif;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/lib/fonts/lato.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-display: block;
  font-family: without-serif;
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(/lib/fonts/lato-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-display: block;
  font-family: without-serif;
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/lib/fonts/lato-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-display: block;
  font-family: with-serif;
  font-style: normal;
  src: local(''), url();
}

h1, h2, h3, strong {
  color: #356635;
  font-family:  'Aktiv Grotesk Corp', sans-serif;
}

.light-green {
  color: #74b55c;
}

a {
  text-decoration: none;
  color: var(--the-green);
}

p {
  display: block;
  margin: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

ul {
  margin: auto;
  margin-top: 1em;
}

svg {
  box-sizing: content-box;
}

body {
  height: calc(100% - 7em);
  padding: 0;
  margin: 0;
  font-family: 'Aktiv Grotesk Corp', sans-serif;
  background-color: #f8f8f8;
  color: var(--the-color);
}

dialog {
  color: var(--the-color);
}

button {
  border: 0;
  border-radius: 2px;
  background-color: white;
  color: var(--the-green);
}

button a {
  color: var(--the-green);
  text-decoration: none;
  display: block;
  padding: 0.9em 1.3em;
  font-size: 1.2em;
}

.pop-hover.selected,
.pop-hover:hover {
  box-shadow: 0 20px 30px 0 rgba(0,0,0,0.2);
  transform: translateY(-2px);
  transition: all .16s ease-in-out;
}

.loading {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0, 0.6);
  text-align: center;
  font-size: 24px;
}

.loading p {
  color: #f1f1f1;
  font-size: medium;
  text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

.spinner {
  display: inline-block;
  border: 1px solid #333;
  border-radius: 50%;
  border-top: 1px solid #f1f1f1;
  animation: spin 2s linear infinite;
  width: 48px;
  height: 48px;
  margin: auto auto;
  margin-top: 1em;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}

#playground {
  display: flex;
  flex-direction: row;

  width: auto;     /* will be changed by JS */
  height: auto;    /* will be changed by JS */

  padding: 0;
  margin: auto;
}

#app-loading {
  z-index: 1001;
}

#app-loading .spinner {
  margin: 8em auto 3em;
  border-top: 3px solid #f1f1f1;
  width: 120px;
  height: 120px;
}

#cookieNotice {
  font-size: 1em !important;
  font-family: without-serif !important;
}

#gapps-ask {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1.2em;
  height: 4em;
  line-height: 4em;
  text-align: center;
  width: 100%;
  background-color: var(--the-redish-gray);
  color: var(--the-white);
  z-index: 10;
}

#gapps-ask button {
  font-size: 1em;
  padding: 0.5em 1em;
}

.small {
  font-size: 0.7em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#maparea {
  width: 100%;
}

.monospace {
  font-family: monospace;
}


.banner h1 {
  color: #f65b2a !important;
  text-shadow: 1px 1px 1px #000000 !important;
}

section .section-title h2 strong {
  font-weight: 700;
}

section .section-title h2 {
  font-size: 34px;
  line-height: 44px;
}

.content-description {
  margin-top: 0px;
  font-size: 18px;
  max-width: 37em;
  line-height: 2;
}


section .flex-center{
    justify-content: center;
}

.first-section {
  padding: 2em;
  margin-top: -2em;
  background-color: #EBF5FA;
}

.github-box {
  position: relative;
  background-color: #0280bf;
  color: white;
  padding: 2em;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
  display: flex;
  padding-bottom: 3.5em;
}

.github-box a {
  position: absolute;
  padding: 10px 30px;
  bottom: 0;
  right: 0;
  color: white;
  background-color: #00689c;
  border-top-left-radius: 1em;
  display: flex;
}

.github-box img {
  width: 50px;
  filter: invert(100%);
  position: absolute;
  margin-top: -8px;
  margin-left: -5px;
  margin-right: 10px;
    right: 0;
}

.blue-section {
  background-color: #99D4F2;
}

.target-category {
  display: flex;
  justify-content: center;
  width: 40%;
  flex-wrap: wrap;
}

.target-member {
  text-align: center;
  background-color: #00689C;
  border-radius: 0.8em;
  color: white;
  font-size: 15px;
  margin-right: 10px;
  min-width: 180px;
  margin-top: 10px;
}

.target-member i {
  font-size: 55px;
  padding-top: 20px;
  padding-bottom: 5px;
  float: bottom;
  bottom: 0;
}

.target-member p {
  margin-top: 0;
}